<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMS Spam Classifier App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>SMS Spam Classifier</h1>
        <form method="POST">
            <div>
                <ul>
                    <li><b>Spam:</b> Unwanted, unsolicited, promotional (<span style="color: red;">spam</span>) </li>
                    <li><b>Ham:</b> Normal, personal, or expected messages (<span style="color: green;">not-spam</span>)</li>
                </ul>
            </div>
            <textarea name="message" placeholder="Enter your SMS message here" required></textarea>
            <button type="submit">Classify</button>
        </form>

        {% if prediction %}
        <div class="result">
            <h2>Prediction: {{ prediction }}</h2>
        </div>
        {% endif %}
    </div>
</body>
</html>
